.env
.env.local

#python
__pycache__/
*.py[cod]
*$py.class
*.so
.python
.venv/
venv/
env/
.python-version

#distribuição 
build/
dist/
*.egg-info/
*.egg

#IDEs
.vscode/
.idea/
*.swp
*.swo

#testes
.pytest_cache/
.coverage
htmlcov/

#notebooks (experimentação)
.ipynb_checkpoints/

#os 
.DS_Store
Thumbs.db 

# logs
*.log 